$Red: #ff0000;
$White: #ffffff;
$WhiteSecond: #f4f4f4;
$Yellow: #FFBA22;
$Black: #161616;
$BlackTwo:#101010;
$Gray: #B6B6B6;
$GrayTwo: #252525;
$GrayThree: #3D3D3D;
$GrayFour: #464646;
$GrayFive: #2B2B2B;
$Orange: #FF7711;
$OrangeOne: #EE5025;
$OrangeTwo:#d6360b;
$Green : #518134;